### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1651]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "./schools_complete.csv"
student_data_to_load = "./students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

school_data_complete.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [1652]:
# Calculate the total number of schools
num_schools = len(school_data)
# Calculate the total number of students
num_students = len(student_data)
import locale
locale.setlocale(locale.LC_ALL, 'en_US.UTF-8')
# Calculate the total budget
total_budget = locale.currency(float(format(school_data["budget"].sum(),"2f")), grouping=True )
# Average Reading Score
avg_reading = float(format(student_data["reading_score"].mean(),".2f"))
# Average Math Score
avg_math = float(format(student_data["math_score"].mean(),".2f"))
# Number of Passing 
num_passing_read = len(student_data[student_data["reading_score"] >= 70])
# Percentage
pass_percent_reading = format((num_passing_read/num_students),".2%")
# Number of Passing 
num_passing_math = len(student_data[student_data["math_score"] >= 70])
# Percentage
pass_percent_math = format((num_passing_math/num_students),".2%")
# Overall
overall_pass_percent = format(((num_passing_math/num_students)+(num_passing_read/num_students))/2,".2%")
overall_pass_percent
# ??? Above? 
overall_average_score = format((((avg_math+avg_reading)/2)/100),".2%")
overall_average_score

summary_df = pd.DataFrame({"Total Schools":num_schools, "Total Students":num_students, "Total Budget": total_budget, "Average Math Score":avg_math, "Average Reading Score": avg_reading, "% Passing Math":pass_percent_math, "% Passing Reading":pass_percent_reading, "Mean Pass Rate":overall_pass_percent, "Mean Average Score":overall_average_score}, index=[0])

summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Mean Pass Rate,Mean Average Score
0,15,39170,"$24,649,428.00",78.99,81.88,74.98%,85.81%,80.39%,80.44%

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [1653]:
school_group = school_data_complete.groupby(["school_name", "type"], axis=0)
school_names = school_data_complete["school_name"].unique()
students_by_school = school_group["student_name"].count()
budget_by_school = school_group["budget"].mean()
per_student_budget = [budget_by_school[x]/students_by_school[x] for x in range(len(budget_by_school))]
# per_student_budget
read_avg_by_school = [format(x , ".2f") for x in school_group["reading_score"].mean()]
# format(float(school_group["reading_score"].mean()), ".2")
math_avg_by_school = [format(x , ".2f") for x in school_group["math_score"].mean()]
# school_group["math_score"].mean()
pass_read_by_school = school_data_complete[school_data_complete["reading_score"] >=70].groupby(["school_name"]).count()
pass_read_by_school = pass_read_by_school["reading_score"]
# pass_read_by_school
pass_math_by_school = school_data_complete[school_data_complete["math_score"] >=70].groupby(["school_name"]).count()
pass_math_by_school = pass_math_by_school["math_score"]

# pass_math_by_school
percent_pass_reading_by_school = [format((pass_read_by_school[x]/students_by_school[x]), ".2%") for x in range(len(students_by_school))]

percent_pass_math_by_school = [format((pass_math_by_school[x]/students_by_school[x]), ".2%") for x in range(len(students_by_school))]

overall_pass_percent_by_school = [format(((float(percent_pass_reading_by_school[x].strip("%"))+float(percent_pass_math_by_school[x].strip("%")))/2/100), ".2%") for x in range(len(students_by_school))]

# format budget total
format_total = [locale.currency(float(format(x,"2f")), grouping=True )
 for x in budget_by_school]

format_per_student_budget = [locale.currency(float(format(x,"2f")), grouping=True )
 for x in per_student_budget]

# format_total

by_school_df = pd.DataFrame({"Total Students":students_by_school, "Total Budget":format_total, "Per Student Budget":format_per_student_budget, "Average Math Score":math_avg_by_school, "Average Reading Score":read_avg_by_school, "Percentage Passing Math":percent_pass_math_by_school, "Percentage Passing Reading":percent_pass_reading_by_school, "Overall Passing Rate": overall_pass_percent_by_school })



by_school_df_copy = pd.DataFrame({"Total Students":students_by_school, "Total Budget":format_total, "Per Student Budget":format_per_student_budget, "Average Math Score":math_avg_by_school, "Average Reading Score":read_avg_by_school, "Percentage Passing Math":percent_pass_math_by_school, "Percentage Passing Reading":percent_pass_reading_by_school, "Overall Passing Rate": overall_pass_percent_by_school })


by_school_df

,,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Reading,Overall Passing Rate
school_name,type,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.05,81.03,66.68%,81.93%,74.31%
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,95.59%
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,73.36%
Ford High School,District,2739,"$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,73.81%
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,95.27%
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,73.81%
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51%,96.25%,94.38%
Huang High School,District,2917,"$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,73.50%
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,73.64%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,95.27%
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,73.30%
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.36,83.73,93.87%,95.85%,94.86%
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,95.29%
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,95.21%
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.68,83.95,93.33%,96.61%,94.97%

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [1654]:
ranked_overall = by_school_df.sort_values('Overall Passing Rate',ascending=False)
ranked_overall.head(5)

,,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Reading,Overall Passing Rate
school_name,type,,,,,,,,
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,95.59%
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,95.29%
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,95.27%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,95.27%
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,95.21%

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [1655]:
ranked_overall = by_school_df.sort_values('Overall Passing Rate',ascending=True)
ranked_overall.head(5)

,,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Reading,Overall Passing Rate
school_name,type,,,,,,,,
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,73.30%
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,73.36%
Huang High School,District,2917,"$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,73.50%
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,73.64%
Ford High School,District,2739,"$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,73.81%

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [1656]:
math_avg_by_school_grade = pd.DataFrame(school_data_complete.groupby(["school_name", "grade"])["math_score"].mean())
math_avg_by_school_grade.reset_index(inplace= True)
school_mathgrade_pivot = math_avg_by_school_grade.pivot(index="school_name", columns = "grade", values="math_score")
del school_mathgrade_pivot.index.name
del school_mathgrade_pivot.columns.name
school_mathgrade_pivot = school_mathgrade_pivot[["9th","10th","11th","12th"]]
pd.options.display.float_format = '{:.2f}'.format
# '{.2}'.format(school_grade_pivot)
school_mathgrade_pivot

                        9th  10th  11th  12th
Bailey High School    77.08 77.00 77.52 76.49
Cabrera High School   83.09 83.15 82.77 83.28
Figueroa High School  76.40 76.54 76.88 77.15
Ford High School      77.36 77.67 76.92 76.18
Griffin High School   82.04 84.23 83.84 83.36
Hernandez High School 77.44 77.34 77.14 77.19
Holden High School    83.79 83.43 85.00 82.86
Huang High School     77.03 75.91 76.45 77.23
Johnson High School   77.19 76.69 77.49 76.86
Pena High School      83.63 83.37 84.33 84.12
Rodriguez High School 76.86 76.61 76.40 77.69
Shelton High School   83.42 82.92 83.38 83.78
Thomas High School    83.59 83.09 83.50 83.50
Wilson High School    83.09 83.72 83.20 83.04
Wright High School    83.26 84.01 83.84 83.64

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [1657]:

read_avg_by_school_grade = pd.DataFrame(school_data_complete.groupby(["school_name", "grade"])["reading_score"].mean())
read_avg_by_school_grade.reset_index(inplace= True)
school_readgrade_pivot = read_avg_by_school_grade.pivot(index="school_name", columns = "grade", values="reading_score")

del school_readgrade_pivot.index.name
del school_readgrade_pivot.columns.name
school_readgrade_pivot = school_readgrade_pivot[["9th","10th","11th","12th"]]

pd.options.display.float_format = '{:.2f}'.format
# school_grade_pivot.columns.sort_values()

school_readgrade_pivot

                        9th  10th  11th  12th
Bailey High School    81.30 80.91 80.95 80.91
Cabrera High School   83.68 84.25 83.79 84.29
Figueroa High School  81.20 81.41 80.64 81.38
Ford High School      80.63 81.26 80.40 80.66
Griffin High School   83.37 83.71 84.29 84.01
Hernandez High School 80.87 80.66 81.40 80.86
Holden High School    83.68 83.32 83.82 84.70
Huang High School     81.29 81.51 81.42 80.31
Johnson High School   81.26 80.77 80.62 81.23
Pena High School      83.81 83.61 84.34 84.59
Rodriguez High School 80.99 80.63 80.86 80.38
Shelton High School   84.12 83.44 84.37 82.78
Thomas High School    83.73 84.25 83.59 83.83
Wilson High School    83.94 84.02 83.76 84.32
Wright High School    83.83 83.81 84.16 84.07

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [1658]:
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [1659]:
by_school_df["Per Student Budget"] = by_school_df["Per Student Budget"].str.strip("$").astype(float)

In [1660]:
by_school_df["Per Student Bin"] = pd.cut(by_school_df["Per Student Budget"], bins= spending_bins, labels=group_names)

In [1661]:
by_school_df["Average Reading Score"] = by_school_df["Average Reading Score"].astype(float)

by_school_df["Average Math Score"] = by_school_df["Average Math Score"].astype(float)

by_school_df["Percentage Passing Reading"] = by_school_df["Percentage Passing Reading"].str.strip("%").astype(float)

by_school_df["Percentage Passing Math"] = by_school_df["Percentage Passing Math"].str.strip("%").astype(float)

by_school_df["Overall Passing Rate"] = by_school_df["Overall Passing Rate"].str.strip("%").astype(float)

by_school_df.columns

Index(['Total Students', 'Total Budget', 'Per Student Budget',
       'Average Math Score', 'Average Reading Score',
       'Percentage Passing Math', 'Percentage Passing Reading',
       'Overall Passing Rate', 'Per Student Bin'],
      dtype='object')

In [1662]:
del by_school_df["Total Students"]
del by_school_df["Per Student Budget"]


by_school_df.groupby('Per Student Bin').mean()

,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Reading,Overall Passing Rate
Per Student Bin,,,,,
<$585,83.45,83.93,93.46,96.61,95.04
$585-615,83.60,83.89,94.23,95.90,95.06
$615-645,79.08,81.89,75.67,86.11,80.89
$645-675,77.00,81.03,66.16,81.13,73.65

## Scores by School Size

* Perform the same operations as above, based on school size.

In [1663]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [1664]:
by_school_df_copy["Student Count Bin"] = pd.cut(by_school_df_copy["Total Students"], bins= size_bins, labels=group_names) 

by_school_df_copy["Average Reading Score"] = by_school_df_copy["Average Reading Score"].astype(float)

by_school_df_copy["Average Math Score"] = by_school_df_copy["Average Math Score"].astype(float)

by_school_df_copy["Percentage Passing Reading"] = by_school_df_copy["Percentage Passing Reading"].str.strip("%").astype(float)

by_school_df_copy["Percentage Passing Math"] = by_school_df_copy["Percentage Passing Math"].str.strip("%").astype(float)

by_school_df_copy["Overall Passing Rate"] = by_school_df_copy["Overall Passing Rate"].str.strip("%").astype(float)

del by_school_df_copy["Total Students"]

by_school_df_copy.groupby("Student Count Bin").mean()

,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Reading,Overall Passing Rate
Student Count Bin,,,,,
Small (<1000),83.82,83.93,93.55,96.10,94.82
Medium (1000-2000),83.37,83.87,93.60,96.79,95.20
Large (2000-5000),77.74,81.34,69.96,82.77,76.37

## Scores by School Type

* Perform the same operations as above, based on school type.

In [1665]:
by_school_df.groupby("type").mean()

,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Reading,Overall Passing Rate
type,,,,,
Charter,83.47,83.90,93.62,96.59,95.11
District,76.96,80.97,66.55,80.80,73.68